<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>

    <title>Chess</title>
    <h3 id="head-message">Playing as <%= username %></h3>
    <h3 id="username" hidden><%= username %></h3>
  </head>

  <body>
    <script
      language="javascript"
      type="text/javascript"
      src="sketch.js"
    ></script>
  </body>
</html>
